.avatar {
  width: 200px;
  height: 200px;
  margin-right: 2rem;
}
.EmployeeDiv {
  display: flex;
  box-sizing: border-box;
  width: 70%;
  border: 2px solid black;
  margin: 1rem;
  padding: 1rem;
  background-color: #dedede;
}
.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

input {
  margin: 0.2rem;
  width: 50%;
  display: block;
  align-items: center;
}
input[button] {
  display: block;
  justify-content: center;
}
.red {
  color: red;
  font-weight: bold;
}
