/* 
Form settings 
*/

form {
  background-color: var(--main-container-bg);
  border-radius: var(--def-radius);
  box-shadow: var(--main-container-shadow);
  padding: 2em;
}

label {
  font-weight: bold;
  text-transform: UPPERCASE;
}

form ul,
form li {
  list-style: none;
  margin-top: 1em;
}

input,
select,
textarea {
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 1px 1px 2px #000000, 0 0 3px #c0c0c0;
  padding: 0.2rem;
  resize: none;
}

input[type] {
  height: 2em;
  width: 100%;
}

input[type="submit"] {
  background: var(--nav-container-bg);
  border: none;
  border-radius: var(--def-radius);
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  height: 4em;
  padding: 1em;
  text-align: center;
  margin: 1em 0em 0em 0em;
  text-decoration: none;
  text-shadow: 5px solid #000000;
}

.topText {
  font-size: 0.9em;
  margin: 1em;
  text-align: center;
}
