:root {
  --main-container-bg: rgba(204, 204, 204, 0.7);
  --nav-container-bg: rgba(176, 196, 222, 0.8); /*also used by forms.css */
  --main-container-shadow: 1px 1px 2px black, 0 0 25px grey, 0 0 5px silver;
  --def-radius: 15px;
}

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  margin: 0.4rem 0.35rem;

  display: flex;
  justify-content: center;

  /* the background default for small screens */
  background: url(../img/bak-portrait.jpg) top left no-repeat;
  background-size: auto;
}

h1 {
  text-align: center;
  font-size: 2em;
  text-shadow: 2px 2px 3px grey, 3px 3px 5px lightgrey;
}

nav,
.container {
  background: var(--main-container-bg);
  border-radius: var(--def-radius);
  box-shadow: var(--main-container-shadow);
  padding: 0.5em 0.7em;
  margin: 0.5em 0;
}

img {
  background: var(--main-container-bg);
  border-radius: var(--def-radius);
  box-shadow: var(--main-container-shadow);
}

nav {
  background: var(--nav-container-bg);
  text-shadow: 1px 1px 2px black, 0 0 5px silver;
}

/* BOTH Article footer + Site footer */
footer {
  font-size: 0.65em;
  text-transform: UPPERCASE;
}

.article {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
}

.article-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 15px;
}

.article-content {
  flex: auto;
}

.article-image {
  width: 50%;
  opacity: 80%;
}

.bottom-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.75em;
}

.bottom-footer ul,
.bottom-footer li {
  display: inline;
  list-style: none;
  padding: 0.5em;
}
.article-one .article-content::first-line {
  font-weight: bold;
}

.gallery-row,
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 0 0.1em;
}

.gallery-column,
.column {
  flex: 25%;
  max-width: 35%;
  padding: 0 0.25rem;
}

.gallery-column img,
.column img {
  margin-top: 0;
  vertical-align: middle;
  width: 100%;
}

.image-box {
  text-align: center;
  font-style: italic;
}

/* For large screens(PC) or landscaped tablets */
@media all and (orientation: landscape) {
  body {
    background: url(../img/bak-landscape.jpg) top left no-repeat;
    background-size: 125% auto;
  }
}
