@charset "UTF-8";
/* ----------------------------------------------------------- 
*
* 	EC utbildning. 
*	Växjö/Ronneby.
*	October 2020.
*
*  -----------------------------------------------------------
*	MAIN 
/* ----------------------------------------------------------- */

html {	
	margin: 0px;
	padding: 0px;
	background-color:#c3d3b2;
	}
	
body { 
	font: 10pt Helvetica;
	line-height: 18pt;
	color: black; 
	margin: 0px; 
	background: url(lower_left_backg.jpg) no-repeat bottom left;
	height:2060px;
	}
	
p { 
	font: 10pt Helvetica;
	line-height: 18pt;
	margin-top: 0px; 
	text-align: left;
	}

/* Standard H3 settings */	
h3 { 
	font: 12pt Helvetica; 
	letter-spacing: 0.5px; 
	margin-bottom: 0px; 
	color: #445942;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	}

/* H3 settings for main text area (right) */
.preamble h3, .explanation h3, .participation h3, .benefits h3, .requirements h3 {
	border: 1px solid #445942;
	border-radius: 25px;
	}
	
/* H3 settings for sidebar (left) */	
h3.select, h3.archives, h3.resources {
	width: 100%;
	text-decoration-line: underline; 
	height: 15px;
	}
	
/* Link settings */
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: black;
	}
	
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: black;
	}
	
a:hover, a:focus, a:active { 
	text-decoration-line: underline; 
	}

/* Main DIV */	
.page-wrapper {  
	position: relative; 
	width: 770px;
	margin: 0 auto; /* Centers the wrapper-page */
	}
	
header { 
	background: url(header-laotzu.jpg) top no-repeat; 
	margin-top: 10px; 
	width: 770px; 
	height: 315px; 
	}
	
/* Dont show H1 ("CSS Zen Garden") and H2 ("The Beauty of CSS Design") */
h1, h2 {
	display: none;
	}

/* Download the example... Html file and css file" */
.summary { 
	position:absolute;
	float: right;
	width: 100%;
	}
	
/* Dont display this part - 'A demonstration ...'*/	
.summary p:first-child {
	display:none;
	}
	
/* Display ONLY this 'Download the example...' */	
.summary p:last-child {
	font-style: italic;
	text-transform: uppercase;
	padding-right: 40px;
	padding-left: 5px;
	float: right;
	font-size: 12px;
	border-left: 2px dotted #445942;
	border-bottom: 2px dotted #445942;
	border-radius: 0px 10px 0px;
	}

/* The 'block' of text for "Road to enlightenment */
.preamble {
	position: absolute;
	top:365px;
	left:250px;
	}

/* Contains all these (explanation + participation + benefits + requirements) in one class */
.main {
	position: absolute;
	left:250px;
	top: 595px;
	}
	
/* ----------------------------------------------------------- */
/* SIDEBAR (left side column) */
/* ----------------------------------------------------------- */

/* Menu itself */
.sidebar { 
	position: absolute; 
	top: 365px;
	font: 10pt Helvetica;
	line-height:12px;
	width: 215px; 
	left: 15px;
	}
	
/* Sidebar link settings */	
.sidebar li{
	text-align:center;
	padding: 5px;
	margin: 5px;
	background: #A5BA93; /* to combine both a background color and added image, this is it */
	background-image: url(yinyang.png);
	background-repeat: no-repeat;
	background-position: left;
	display: block; 
	border-radius: 15px;
	}
	
.sidebar ul {
	margin: 0px;
	padding: 0px;
	padding-bottom:5px;
	}
	
.sidebar li a:link { 
	color: #445942;
	}
.sidebar li a:visited { 
	color: #445942;
	}

/* topic buttons/images */	
.sidebar h3.select { 
	background: url(menubutt1.png) no-repeat;
	height: 30px; 
	padding-top: 10px;
	margin: 0px 0px 0px 0px;
	text-indent: 100%;  /* to get rid of the text */
	white-space: nowrap; /* to get rid of the text */
	overflow: hidden; /* to get rid of the text */
	}
.sidebar h3.archives { 
	margin: 0px 0px 0px 0px; 
	background: url(menubutt2.png) no-repeat ; 
	height: 40px; 
	text-indent: 100%; /* to get rid of the text */
	white-space: nowrap; /* to get rid of the text */
	overflow: hidden; /* to get rid of the text */
	}
.sidebar h3.resources { 
	background: url(menubutt3.png) no-repeat ; 
	height: 40px; 
	margin: 0px 0px 0px 0px; 
	text-indent: 100%;  /* to get rid of the text */
	white-space: nowrap; /* to get rid of the text */
	overflow: hidden; /* to get rid of the text */
	}

/* 'Select a Design', 'Archives' and 'Resources' */	
.zen-resources, .design-archives, .design-selection {
	text-align: center;
	}
	
.zen-resources, .design-archives, .design-selection li a {
	font-size: 14px;
	}
	
.design-selection a {
	display: block;
	font-weight: bold;
	}
	
.design-selection a.designer-name {
	font-size: 12px;
	line-height: 14px;
	display: inline;
	}

/* ----------------------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------------------- */
	
footer { 
	text-align: right; 
	}

footer a:link, footer a:visited { 
	margin-right: 20px; 
	padding: 7px;
	border: 1px dotted black;
	}

/* END END END */
